@import "tailwindcss";
* {
    font-family: monospace;
}

h1::selection {
    background: #fff;
    color: #000;
}

.name-row span {
    animation: spring-letter 0.8s ease-in-out 0.3s;
    animation-delay: 2.100727s;
}
.name-row span:nth-child(2){ animation-delay: 2.202545s; }
.name-row span:nth-child(3){ animation-delay: 2.343418s; }
.name-row span:nth-child(4){ animation-delay: 2.409527s; }
.name-row span:nth-child(5){ animation-delay: 2.514473s; }
.name-row span:nth-child(6){ animation-delay: 2.596836s; }
.name-row span:nth-child(7){ animation-delay: 2.6984s; }
.name-row span:nth-child(8){ animation-delay: 2.772036s; }

@keyframes spring-letter {
    0% { font-size: 120px }
    50% { font-size: 132px }
    100% { font-size: 120px }
}
